.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    border-radius: 6px;
}

.center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
  }
  
  
  .form-group{ 
    position: relative;
    display: block;
      margin: 0;
      padding: 0;
  }
.section{
    position: relative;
    width: 100%;
    display: block;
  }

  .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .form-style:focus,
  .form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }

.btn{  
    border-radius: 4px !important;
    height: 44px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7 !important;
    color: #102770 !important;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  }
  /* .btn:active,
  .btn:focus{  
    background-color: #102770 !important;
    color: #ffeba7 !important;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  } */
  .btn:hover{  
    background-color: #102770 !important;
    color: #ffeba7 !important;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }

  .navcolor{
    background-color: #1f2029;
    color: #c4c3ca !important;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    box-shadow: 0 0 15px 0 rgba(255,235,167,.2)  !important;
  }

  .logout{
    height: 32px !important;
    font-size: 13px !important;
    font-weight: 600  !important;
  }

  
  .box{
    max-height: 250px;
    background-color: #2a2b38 !important;
    color: #c4c3ca !important;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    border-radius: 6px;
    text-align: center;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }


  .box .cardTxt{
    overflow-x: auto !important;
    overflow-y: hidden !important;
  }
  .card-text::-webkit-scrollbar {
    display: none  !important;
  }

  .myModal  .modal-content {
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    border-radius: 6px;

  }

  .btn-close{
    color: #ffeba7 !important;
    background-color: #2a2b38  !important;
  }

.selfexpense{
  max-height: 122px;
  min-width: 170px !important;
  margin-left: 10px;
  color: #c4c3ca !important;
  background-color: #2a2b38  !important;
  border-color: #ffeba7 !important;
  font-size:smaller !important;
}

.cardBody{
  padding-top: 5px !important;
}

/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
display: none;
-webkit-appearance: none;
}

.btn-close{
  background-color: #ffeba7 !important;
}

.groups{
  color: #ffeba7 !important;
  background-color: #2a2b38  !important;
  width: 150px  !important;
  height: 122px  !important;
  margin-left: 10px !important;
  box-shadow: 0 4px 12px 0 rgba(255,235,167,.2) !important;
}

.groupHeading{
  background-color: #6861ed !important;  
  color: #c4c3ca !important;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  box-shadow: 0 0 15px 0 rgba(255,235,167,.2)  !important;
    padding-top: 20px;
}

#dropdown-basic-button{
  font-size: 13px;
  font-weight: 600;
}

.dropDownGap{
  visibility: hidden;
  margin-top: 5px;
}

.navbar-brand{
  color: #c4c3ca !important;
  text-decoration: none !important;
  font-family:'Poppins', sans-serif !important;
}

.delete{
  cursor: pointer;
}

.equally{
  color: #ffeba7 !important;
  background-color: #2a2b38  !important;
  margin-left: 10px !important;
  box-shadow: 0 2px 6px 0 rgba(255,235,167,.2) !important;
  font-size: small !important;
  letter-spacing: normal;
  text-transform: none;
}

div.error {
  padding: 10px;
  /* background: #ffefef; */
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  margin: 20px 0;
}

.groupBtn{
  margin: 3px;
  display: block;
  width: 155px;
  
}

#justify-tab-example-tab-home{
  height: 52px !important;
  font-size: 18px !important;
  font-weight: 600  !important;
  /* color: white; */
}

#justify-tab-example-tab-balanceTab{
  height: 52px !important;
  font-size: 18px !important;
  font-weight: 600  !important;
}

.totalBalance h5{
  color: #212529;
}

.memberClass{
  padding: 11px 10px !important;
}